body {
  text-align: center;
  color: #000000;
  background-image: url(./Wood-Background-Wood-Texture-Background-Graphics-17652269-1.jpg);
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header h1 {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 500px;
  border-radius: 5px;
}

.toDo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.toDo input {
  padding-left: 1.5rem;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2rem;
  border-radius:5px;
}

.toDo button {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5rem;
  background-color: #030303;
  padding: 1rem;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #c0bfbf;
}

.toDo button:hover {
  background-color: rgba(253, 251, 251, 0.5);
  color: #000000;
  border: 2px solid white;
}

.taskList {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: solid;
  margin: 1.5rem 25rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.taskList div {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: center;
  align-items: center;
}
.taskList div img {
  padding: 15px;
  width: 40px;
  border-radius: 20px;
}
.taskList div img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.taskList div input {
  cursor: pointer;
  margin-left: 2rem;
  width: 30px;
  height: 30px;
}
